{% extends 'main.html' %}

{% block content %}

{% if page == 'login'  %}
<div>
    <form method='POST' action="">
        {% csrf_token %}
        <label for="">Usuário:</label>
        <input type="text" name="username" placeholder="Digite o seu usuário.
        " />
        <label for="">Senha: </label>
        <input type="password" name="password" placeholder="Digite sua senha." />

        <input type="submit" value="Login" />
    </form>

    <p>Você ainda não possui cadastro?</p>
    <a href={% url 'register' %}>Registar</a>

</div>

{% else %}

<div>
    <form method='POST' action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Register" />
    </form>
    <p>Você já tem cadastro?</p>
    <a href="{% url 'register' %}">Faça o login</a>


</div>

{% endif %}
{% endblock content %}



